.Rhistory
Final_Project/.Rhistory
Group_Home_Work_01/.Rhistory
Group_Home_Work_02/.Rhistory
Group_Home_Work_03/.Rhistory
Group_Home_Work_04/.Rhistory

.DS_Store
Final_Project/.DS_Store
Group_Home_Work_01/.DS_Store
Group_Home_Work_02/.DS_Store
Group_Home_Work_03/.DS_Store
Group_Home_Work_04/.DS_Store
Final_Project/listings.csv
Final_Project/reviews.csv
Final_Project/calendar.csv
Group_Home_Work_04/.Rhistory
Group_Home_Work_04/.RData
